/* Agregamos la fuente que se va a utilizar */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Montserrat';

}

html{

    scroll-behavior: smooth;

}

#inicio {
    background: linear-gradient( rgba(0,0,0,.7), rgba(0,0,0,.7)), url("img/fondos.jpg") ;
    background-size: cover;
    background-position: center center;
    height: 100vh;

}

#inicio .contenido header{

    background-color: rgba(0,0,0, .8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#inicio .contenido header .contenido-header{

    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}

#inicio .contenido header .contenido-header h1{

    text-align: center;
    color: blue;


}

#inicio .contenido header .contenido-header nav ul{

    list-style: none;
    display: flex;
    align-items: center;

}

#inicio .contenido header .contenido-header nav ul li a{

    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;



}

#inicio .contenido header .contenido-header nav ul li a:hover{

    color: blue;


}
#inicio .contenido header .contenido-header .redes a{
    text-decoration: none;
    color:#fff;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}

#inicio .contenido header .contenido-header .redes a:hover{
    color:#0000ff;
}

#inicio .contenido header .contenido-header .seleccionado{
 color:#0000ff;
}



#inicio .contenido .presentacion{


    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio .contenido .presentacion .bienvenido{


    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#inicio .contenido .presentacion h2{

    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}

#inicio .contenido .presentacion h2 span{


    font-size: 25px;
    color: blue;
}

#inicio .contenido .presentacion .descripcion{

    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;


}
#inicio .contenido .presentacion a{

    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #0000ff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s; 
}

#inicio .contenido .presentacion a:hover{

    background-color: #0000ff;
}
#icono-nav{
    color:#fff;
    display: none;

}

/* Agregar estilos a la seccion de curriculum v i t a e */

#curriculum{
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: #111135;
    display: flex;   
}
#curriculum .contenedor-foto{
    max-width: 400px;
    margin-right: 80px;
}

#curriculum .contenedor-foto img{

    padding: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: #f3f3f3;

}

#curriculum .curriculum{
    margin: 0 40px;

}

#curriculum .curriculum .titulo-seccion{
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#curriculum .curriculum h2{
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}
#curriculum .curriculum h2 span{
    color: #0000ff;
}

#curriculum .curriculum h3{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#curriculum .curriculum p{
    font-size: 14px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
}
#curriculum .curriculum a{
    display: inline-block;
    text-decoration: none;
    color: #000;
    
    border-radius: 30px;
    border: 1px solid #000;
    padding: 10px 20px;
    margin-top: 30px;
    transition: .5s;
}

#curriculum .curriculum a:hover{
    background-color: #0000ff;
    color: #fff;
}

/*Estilos area de servicios */


#servicios{
    padding: 100px 15px;
    text-align: center;
    background-color:#f3f3f3;

}

#servicios .titulo-seccion{
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;

}

#servicios .fila{
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: 30px auto;
}

#servicios .fila .servicio{
    max-width: 350px;
    background-color: #fff;
    padding: 30px;
    margin: 0 5px;
    border-radius: 5px;
    transition: .5s;
}


#servicios .fila .servicio:hover{
    box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;

}

#servicios .fila .servicio h4{
    font-size: 22px;
    margin-bottom: 25px;
}

#servicios .fila .servicio .icono{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d3d3d3;
    padding: 20px;
    margin-bottom: 25px;
}

#servicios .fila .servicio hr{
    width: 30%;
    margin: auto;
    color:#000;
    margin-bottom: 25px;
}

#servicios .fila .servicio ul{
    list-style:none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

#servicios .fila .servicio p{
    font-size: 14px;
    line-height: 22px;

}

/* Agregar estilos a la seccion de TE CONTACTAMOS */

#tecontactamos{
    padding: 100px 15px;
    background-color: #f3f3f3;
}

#tecontactamos .titulo-seccion {
    margin-bottom: 20px;
}
#tecontactamos .titulo-seccion{
    font-size: 22px;
    text-align: center;
    
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #f3f3f3;
    text-decoration-thickness: 5px;
}

#tecontactamos .contenedor-form{
    max-width: 1100px;
    margin: auto;
}

#tecontactamos .contenedor-form .fila{
    margin-bottom: 15px;
}

#tecontactamos .contenedor-form .mitad{
    display: flex;
    justify-content: space-between;
}

#tecontactamos .contenedor-form input,
#tecontactamos .contenedor-form textarea{
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;

}

#tecontactamos .contenedor-form .mitad input {
    width: 48%;

}

#tecontactamos .contenedor-form .input-full{
    width: 100%;
}

#tecontactamos .btn-enviar{
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px !important;
    font-size: 18px;
    font-weight: bold;
}

#tecontactamos .btn-enviar:hover{
    background-color: #0000ff;
    color: #fff;
}

/*estilos para la seccion del footer */

footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

#footer a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}

/*Estilos  Parte de diseño responsivo */

@media screen and (max-width: 800px) {
    .redes{
        display: none;

    }
    nav{
        display: none;
    }
    nav.responsive{
        display: block;
        color: rgba(0,0,0, .8);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;
    }
    nav.responsive ul{
            display: block !important;
            text-align: center;


    }
    nav.responsive ul li{
        margin: 5px 0;

    }
    #icono-nav{
        display: block;
    }

    #inicio .contenido .presentacion h2{
        font-size: 40px;
        
    }

    /* estilo responsive en la seccion SOBRE MI o curriculum */

    #curriculum{
        padding: 50px 0;
        display: block;
    }
    #curriculum .contenedor-foto{
        max-width: 200px;
        margin: auto;
    }

    #curriculum .contenedor-foto img{
        padding: 8px;
    }

    #curriculum .curriculum .titulo-seccion{
            text-align: center;
    }

    #curriculum .curriculum h2{
        font-size: 25px;
        text-align: center;
    }


    /* Estilos responsivos  para la seccion Servicios */
    
    #servicios{
        padding: 50px 15px;
    }

    #servicios .fila{
        display: block;
    }

    #servicios .fila .servicio{
        margin: 10px auto;
    }


    /* mas estilos en seccion tecontactamos */
    
    #tecontactamos{
        padding: 50px 15px;
    }
    #tecontactamos .contenedor-form .mitad{
        margin-bottom: 15px;
        display: block;
    }
    #tecontactamos .contenedor-form .mitad input {
        width: 100%;
        margin-bottom: 15px;
    }

}